*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

videos/
backup/
litter/
.vscode/

# YOLO weights
*.weights

# videos
*.mp4
*.MP4
*.mkv
*.avi

# video singularity images
*.simg


*.zip
*.*.e*
*.*.o*
*.a
*.so
*.list
*.conv.*